#include <Windows.h>

100 ICON MOVEABLE PURE "100.ico"

101 BITMAP MOVEABLE PURE "101.bmp"
102 BITMAP MOVEABLE PURE "102.bmp"
103 BITMAP MOVEABLE PURE "103.bmp"
104 BITMAP MOVEABLE PURE "104.bmp"
105 BITMAP MOVEABLE PURE "105.bmp"
106 BITMAP MOVEABLE PURE "106.bmp"
107 BITMAP MOVEABLE PURE "107.bmp"
108 BITMAP MOVEABLE PURE "108.bmp"
109 BITMAP MOVEABLE PURE "109.bmp"
110 BITMAP MOVEABLE PURE "110.bmp"
111 BITMAP MOVEABLE PURE "111.bmp"

106 CURSOR MOVEABLE PURE "106.cur"

107 DIALOG MOVEABLE PURE 0, 0, 149, 80
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Screen Mate Dude Options"
FONT 9, "Segoe UI"
BEGIN
    CONTROL "OK", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 92, 7, 50, 14
    CONTROL "Secret", 1005, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 92, 25, 50, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 92, 43, 50, 14
    CONTROL "Remove Dude", IDABORT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 92, 61, 50, 14

    CONTROL "Sound", 1002, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 7, 57, 10
    CONTROL "No Sleep", 1003, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 23, 57, 10
    CONTROL "Gravity", 1004, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 39, 74, 10
    //CONTROL "Alarm", 1001, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 56, 69, 10
END

108 DIALOG MOVEABLE PURE 0, 0, 240, 155
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Screen Mate Dude Debug Window"
FONT 9, "Segoe UI"
BEGIN
    CONTROL "Jacex Van Crash", 1019, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 7, 70, 10
    CONTROL "Jacex Van Flying", 1020, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 19, 70, 10
    CONTROL "Jacex Van Drift", 1021, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 31, 70, 10
    CONTROL "Jacex Van Pursuit", 1022, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 43, 70, 10
    CONTROL "Emilcin Incident I", 1023, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 55, 70, 10
    CONTROL "Emilcin Incident II", 1024, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 67, 70, 10
    CONTROL "Emilcin Incident III", 1025, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 79, 70, 10


    CONTROL "Run", 1003, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 77, 7, 60, 10
    CONTROL "Walk", 1004, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 77, 19, 60, 10
    CONTROL "Delivery", 1005, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 77, 31, 60, 10
    CONTROL "Middle Finger", 1006, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 77, 43, 60, 10
    CONTROL "Sleep", 1007, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 77, 55, 60, 10
    CONTROL "Stare", 1008, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 77, 67, 60, 10
    CONTROL "Turn Around", 1009, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 77, 79, 60, 10
    CONTROL "Push", 1010, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 77, 91, 60, 10
    CONTROL "Pick Nose", 1011, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 77, 103, 60, 10
    CONTROL "Take Picture", 1012, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 77, 115, 60, 10
    CONTROL "Burp", 1013, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 77, 127, 60, 10
    CONTROL "Roll", 1036, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 77, 139, 60, 10

    CONTROL "Shock", 1014, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 137, 7, 60, 10
    CONTROL "Stand Still", 1015, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 137, 19, 60, 10
    CONTROL "Beer", 1016, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 137, 31, 60, 10
    CONTROL "Buff Dude", 1017, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 137, 43, 60, 10
    CONTROL "Omni-Man", 1018, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 137, 55, 60, 10
    CONTROL "Jerma Walk", 1026, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 137, 67, 60, 10
    CONTROL "Blush", 1027, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 137, 79, 60, 10
    CONTROL "Climb", 1028, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 137, 91, 30, 10
    CONTROL "Fall", 1029, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 137, 103, 30, 10
    CONTROL "Jump", 1030, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 137, 115, 60, 10
    CONTROL "Violent Death", 1031, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 137, 127, 60, 10
    CONTROL "Reset", 1002, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 137, 139, 60, 10

    CONTROL "/\\", 1032, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 207, 14, 15, 14
    CONTROL "<", 1034, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 192, 21, 15, 14
    CONTROL "\\/", 1033, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 207, 28, 15, 14
    CONTROL ">", 1035, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 222, 21, 15, 14

    CONTROL "Exit Menu", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 196, 112, 42, 14
END

108 WAVE MOVEABLE PURE "108.wav"
109 WAVE MOVEABLE PURE "109.wav"
110 WAVE MOVEABLE PURE "110.wav"
111 WAVE MOVEABLE PURE "111.wav"
112 WAVE MOVEABLE PURE "112.wav"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 1
PRODUCTVERSION 1, 0, 0, 1
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x1L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "Village Center,Inc.\0"
            VALUE "FileDescription", "Screen Mate Dude\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "Screen Mate Dude\0"
            VALUE "LegalCopyright", "Copyright (C) 1996\0"
            VALUE "OriginalFilename", "Screen Mate Dude.exe\0"
            VALUE "ProductName", "Screen Mate Dude\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END
